
{
  box-sizing: border-box;
}

body {
  background: url('images/planet.jpg') no-repeat center center fixed;
  background-size: cover;
  font-family:verdana;
  color: #fff;
  -ms-text-size-adjust:none;
  -moz-text-size-adjust:none;
  -webkit-text-size-adjust:none;
  font-size:10pt;
}

.flex {
  display: flex;
  flex-flow: row wrap;
  justify-content:center;
}

.flex_child {
  flex: 0 1 auto;
}

header {
  background: linear-gradient(45deg, black, #232426) no-repeat center center fixed;
  width:100%;
  max-height:15vh;
  box-shadow: 3px 6px 6px black;
  position:absolute;
  top:0;
  left: 0;
  justify-content: center;
  flex-flow: column wrap;
}

header img {
  height:45px;
  margin: 0 15vw 0 0;
}

h1 {
  font-size:1.2em;
  font-weight: bold;
  color: #FBCA07;
}
h1, h2 {
  text-shadow: 1px 1px 1px #000CB5;
}
.bold {
  font-weight: bold;
}

.center {
  text-align:center;
}

p {
  max-width: 600px;
}





section {
  margin: 0 auto;
  border: 3.5px solid black;
  border-radius: 5px;
  width: 90vw;
  color:black;
  background: linear-gradient(270deg, #232426, #232426 60%, #4b4c4f);
  color:azure;
}


.track-heading {
  font-size: 1.2em;
  text-shadow: .5px 1px 1px black;
}

.track-heading::before {
  content: "\f1d0";
  font-family: FontAwesome;
  font-size: 1em;
  color: #849bff;
  text-shadow: 1px 2px 2px black;
  margin-right: .5vw;
}

.track-heading:hover::before {
  text-shadow: none;
  color:azure;
  transition: all .4s ease;
}


.lite-up {
  transition: all .4s ease;
  cursor:pointer;
}

.lite-up:hover {
  color: #849bff;
  transition: all .4s ease;
}

#music_tracks {
  align-items:baseline;
  margin-top: 20vh;
}

.track_select {
  flex-grow:1;
  margin-left: 2vw;
}

.active_track {
  color: #849bff;
  text-shadow:none;
  transition: all .4s ease;
}
.active_track::before {
  visibility: visible;
}

.inactive_track::before {
  visibility: hidden;
}

.hidden {
  visibility:hidden;
}

.list-header {
  font-size: 1.7em;
  color: #FBCA07;
}



/* The custom player UI */

#player {
  margin-top: 22vh;
  border: 3.5px solid black;
  border-radius: 5px;
  flex-flow: row nowrap;
  justify-content:space-around;
  align-items:center;
  height: auto;
  width:90%;
  box-shadow: 3px 7px 7px black;
  position: fixed;
  bottom:2vh;
  left: 5vw;
  right: 5vw;
}

#player span {
  font-size:.9em;
}
#player button {
  border-radius: 50%;
}

#pButton, #rButton, #dButton {
	height: 30px;
	width: 40px;
	border: 7.px solid #4200f7;
	background-size: 50% 50%;
	background-position: center;
	transition: all .4s ease;
	background-color: ivory;
}

#pButton:hover {
  background-color: #849bff;
  transition: all .4s ease;
}

.play {
  background: url('images/icons/icon-play.png') no-repeat;
}
.pause {
  background: url('images/icons/icon-pause.png') no-repeat;
}

.repeat {
  background: url('images/icons/Repeat.png') no-repeat;
}

.delay {
  background: url('images/icons/pending.png') no-repeat;
}

#timeline_container {
  text-align:center;
  flex-grow:2;
  max-width: 800px;
  flex-flow: column wrap;
}
#timeline {
  width:90%;
  padding: 0 3px;
  height: 20px;
  background: #4b4c4f;
  border: 1px solid white;
  border-radius:15px;


}

#playhead {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  border: 1px solid white;
  margin-top: 1px;
	background: white;
}

/* flexbox rules */




/* desktop rules */

@media only screen and (min-width: 800px) {
  body {
    font-size: 16pt;
  }

  .track-heading {
  font-size: 1.3em;
  text-shadow: 1px 2px 2px black;
}

  .track-heading::before {
    content: "\f1d0";
    font-family: FontAwesome;
    color: #849bff;
    text-shadow: 1px 2px 2px black;
    margin-right: .5vw;
  }

  #pButton, #rButton, #dButton {
  	height:60px;
  	width: 60px;
  }
  section {
    width: 90vw;
  }



  #playhead {
    height: 12px;
    width: 12px;
  }
  #music_tracks {
    align-items:baseline;
    justify-content:space-around;
}

}
